*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

:root{
    --body-color:url(../images/background.jpg);
    --nav-color: url(../images/background.jpg);
    --background-color:rgba(138, 64, 194, 0.853);
}

.white-theme{
    --body-color:url(../images/whitepic.jpg);
    --nav-color: url(../images/whitepic.jpg);
    --background-color: url(../images/whitepic.jpg);

}
body{
    background: var(--body-color);

    backdrop-filter: blur(5px);
    transition: background 0.3s;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
 
}
.logo {
    width: 40px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex; 
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 25px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.725); 
    border-radius: 50px;
    background: #0fff03;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content{
    flex-basis: 73%;
}
.imp-links a, .shortcut-links a{
    text-decoration:none ;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;

}
.imp-links a:last-child{
    color:#73247acc;
}
.imp-links{
    border-bottom: 1px solid #ccc;

}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;

}
.shortcut-links p{
    margin:25px;
    color: #626262;
    font-weight: 500;
}
.event-bar{
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    color: #626262;
    border-radius: 10px;
}
.eventbar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.eventbar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.eventbar-title a{
    text-decoration: none;
    color: #73247acc;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 75px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 12px;
    
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #73247acc;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background-color) ;
    font-size: 10px;
    color: white;
    padding: 2px 0;
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right:10px ;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-input-container{
    padding-top: 10px;
    padding-left: 55px;
}
.post-input-container textarea{
    width: 100%;
    height: 20px;
    border: 0;
    outline: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
    margin-left: 80%;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;

}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;

}
.left-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

    
}
.main-contents{
    flex-basis: 30%;

}
.right-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

}
.post-text{
    color: #626262;
    font-weight: 500;

}
.post-text a{
    color: #73247acc;
    text-decoration: none;

}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.settings-menu{
    position: absolute;
    width: 80%;
    max-width:350px;
    height: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height:0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color:#73247acc;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;

}
.settings-menu hr{
    border: none;
    height: 1px;
    background:#9a9a9a ;
    margin: 15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links .settings-icons{
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#white-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #c060e5b6;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s;
}
#white-btn span{
    width: 18px;
    height: 18px;
    background: #fff ;
    border-radius: 50%;
    display: inline-block;
}
#white-btn.white-btn-on{
    padding-left: 23px;
    background: #84f1ffcd;

}